name: CI/CD Deployment

on:
  push:
    branches:
      - main #test

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to Server via SSH
        run: |
          # Masuk ke direktori projek
          cd /var/www/customer-ppjk

          # Build ulang image jika ada perubahan Dockerfile/package.json/composer.json
          # Lalu jalankan container di background
          docker compose up -d --build

          # Jalankan perintah pembersihan di dalam container Laravel
          docker exec laravel-app php artisan config:cache
          docker exec laravel-app php artisan route:cache
          docker exec laravel-app php artisan view:cache

          # Jalankan migrasi database (opsional, hapus jika tidak ingin otomatis)
          # docker exec laravel-app php artisan migrate --force
